@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Inter:wght@400;500&display=swap');

body{
    background-color: #E6E4D5;
    font-family: 'inter', sans-serif;
    color: #333;
}

h1, .logo {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.barra_superior{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 20px;
    font-style: italic;
    font-size: 20px;
}
.menu_central{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_direito{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 15px;
}
.icones{
    width: 16px;
    height: 16px;
}

main{
    display: flex;
    justify-content: space-around;

}
.banner{
    margin-top: 70px;
    max-width: 650px;
    font-size: 150%;
    
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    max-width: 500px;
    font-size:16px;
}

form label{
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.required-text{
    color: #7a7a7a;
    font-size: 0.85em;
    margin-left: 5px;
    font-weight: 400;
}
.nome_formulario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nome_formulario div {
    flex: 1;
}


form input,
form textarea {
    width: 100%;
    padding: 10px;
    height: 40px;
    border: 1px solid #C1BFB9;
    background-color: #FAFAFA;
    font-family: inherit;
    box-sizing: border-box;
}

form textarea {
    height: 120px;
    resize: none;
}

button {
    margin-top: 20px;
    width: 120px;
    height: 40px;
    background-color: #5c5a2e;
    color: white;
    border: none;
    cursor: pointer;
}